.introduction{
    height: 100vh;
    background: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/14cec459025763.5a12bbe2a2169.jpg') center/cover;
    background-attachment: fixed;
    overflow: hidden;
    .introduction_title{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            font-size: 10vw;
            color: var(--White);

            &:nth-child(1){
                width: 30%;
                text-align: end;
                transform: translateX(100%);
            }
            &:nth-child(2){

                text-align: justify;
                transform: translateX(-20%);
            }
        }
    }

}