header{
    position: fixed;
    width: 100vw;
    padding: 1rem;
    z-index: 100;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .social_media,.option{
            display: flex;
            align-items: center;
            gap: 10px;

            a{
                text-decoration: underline;
            }
        }

        h1{
            color: var(--Red);
            font-size: 30px;
            font-weight: bold;
        }
    }
}