header{
    position: fixed;
    width: 100vw;
    padding: 1rem 2rem;
    z-index: 100;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .social_media,.option{
            display: flex;
            align-items: center;
            gap: 10px;

            a{
                text-decoration: underline;
            }
        }

        h1{
            color: var(--Red);
            font-size: 30px;
            font-weight: bold;
        }
    }
}
@media (max-width:425px) {
        header{
            bottom: 5%;
            padding: 0 10px;
            nav{
                justify-content: center;
                gap: 10px;
                background: rgba( 255, 255, 255, 0.15 );
                backdrop-filter: blur( 4px );
                -webkit-backdrop-filter: blur( 4px );
                padding: 1rem;
                h1{
                    position: absolute;
                    top: -30rem;
                    left: 5%;
                }
                a{
                    font-size: 10px;
                }
            }
        }
}